<br />

<div id="team">
  <div class="booyah-box col-10 offset-1">
    <h1>Meet the Team</h1>

  </br>

    <div class="text-center">
      <%= image_tag "me.jpg", class: "img-fluid" %>
      <br />
      <br />
      <div class="team-writeup">
        <p>
          Flixter was created by Leah Plat - She is currently working through the <a href="https://bootcamp.learn.utoronto.ca/" target="_blank">University of Toronto Continuing Education Coding Bootcamp</a>. She is learnig new skills ot help improve her resume!
        </p>
      </div>
    </div>
  </div>
</div>
